<%= render "shared/header2" %>
<h1>トレーニング記録</h1>
<h4 class="sign-up-ja">※<span class="required-input"></span>項目を入力し<span class="claim">記録する</span>をクリックして下さい</h4><br>
 <div class="recording-error">
    <%= render 'shared/error_messages', model: @training %>
  </div>
<div class="training-form">
  <div class="training-customer-date">
    <div class="training-form-image-box">
      <% if @customer.image.attached? %>
      <%= image_tag @customer.image, size: '70x70' , class: "training-form-image" %>
      <% else %>
      <%= image_tag 'no_image.png', size: '70x70' , class: "training-form-image" %>
      <% end %>
    </div>
    <div class="training-form-name">
      <div class="name-form-k">
        <%= @customer.first_name_k %>
      </div>
      <div class="name-form-main">
        <%= @customer.first_name%>
      </div>
    </div>
     <div class="training-form-name">
      <div class="name-form-k">
        <%= @customer.family_name_k %>
      </div>
      <div class="name-form-main">
        <%= @customer.family_name %>
      </div>
    </div>
    <div class="training-form-height-age">
      身長:<%= @customer.height %>cm
      <% birth = @customer.birthday.strftime("%Y%m%d").to_i %>
      <% today = Date.today.strftime("%Y%m%d").to_i %>
      <% age = (today - birth ) / 10000 %>
      年齢<%= age %>歳
    </div>
    <div class="training-from-course">
      <div class="training-course-title">
          選択コース : <%= @customer.course.name%>
      </div>
      <div class="remaining">
        <%# 選択コースによって残りの回数を表示 %>
        <% if @customer.course_id == 2 %>
        <% count = 16 %>
        <% elsif @customer.course_id == 3 %>
        <% count = 24 %>
        <% elsif @customer.course_id == 4 %>
        <% count = 32 %>
        <% elsif @customer.course_id == 5 %>
        <% count = 48 %>
        <% elsif @customer.course_id == 6 %>
        <% count = 64 %>
        <% elsif @customer.course_id == 7 %>
        <% count = 96 %>
        <% end %>
        <%# 選択コースがその他の場合は非表示 %>
        <% unless  @customer.course_id == 8 %>
        残り回数    <%= count %>回
        <% end %>
      </div>
    </div>
  </div>
  <%=form_with url: customer_trainings_path , local: true do |f| %>
  <div class="training-record">
      <div class="weight-body-fat">
      <div class="weight">
        <div class= "training-item-title" >体重:</div>
        <%= f.number_field :weight , step: "0.1" ,placeholder: "体重", class: "training-input-form"%><span class="unit">kg</span>
      </div>
      <div class="body-fat">
        <div class= "training-item-title" >体脂肪:</div>
        <%= f.number_field :body_fat , step: "0.1" , placeholder: "体脂肪" , class: "training-input-form"%><span class="unit">%</span>
      </div>
    </div>  
    <div class="blood">
      <div class="blood-max">
        <div class= "training-item-title" >最高血圧:</div>
        <%= f.number_field :blood_pressure_max , placeholder: "最高血圧" , class: "training-input-form"%><span class="unit" >mmHg</span>
      </div>
      <div class="blood-min">
        <div class= "training-item-title">最低血圧:</div>
        <%= f.number_field :blood_pressure_min , placeholder: "最低血圧" , class: "training-input-form"%><span class="unit" >mmHg</span>
      </div>
      <div class="pulse">
        <div class= "training-item-title" >脈拍:</div>
        <%= f.number_field :pulse , placeholder: "脈拍" , class: "training-input-form"%><span class="unit" >bpm</span>
      </div>
    </div>
    <div class="training-menu">
      <div class="part menu">
        トレーニングメニュー(複数選択可)<br>
        <% %w(胸 背中 肩 腕 腹 脚 その他).each do |part| %>
        <label>
          <%= f.check_box :part, { multiple: true} , part, nil %>
          <%= part %><br>
        <%end%>
        </label>
      </div>
      <div class="remarks">
        <%= f.text_area :remarks , placeholder: "備考" , class: "training-text" %>
      </div>
    </div>
  </div>  

    <%= f.submit '記録する' , class:"recording-btn" %>
  </div>
  <% end %>
</div>