<%= render "shared/header2" %>
<h1>トレーニング記録</h1>
<h4 class="sign-up-ja">※<span class="required-input"></span>項目を入力し<span class="claim">記録する</span>をクリックして下さい</h4><br>
 <div class="recording-error">
    <%= render 'shared/error_messages', model: @training %>
  </div>
  <div class="training-form">
  <%= render partial: 'shared/training_customer_data'%>
  <%=form_with url: customer_trainings_path , local: true do |f| %>
    <%= render partial: 'shared/training_record_form', locals: { f: f } %>
    <%= f.submit '記録する' , class:"recording-btn" %>
  </div>
  <% end %>
</div>