<%= render "shared/header2" %>
<%=form_with model: @customer, url: customer_path , local: true do |f| %>
<div class="customer-form">
  <h1>顧客情報編集</h1>
  <h4 class="sign-up-ja">※<span class="required-input">必須</span>項目を入力し<span class="claim">保存する</span>をクリックして下さい</h4><br>
      <div>
        <%= render 'shared/error_messages', model: f.object %>
      </div>
      <%= render partial: 'shared/customer_info.html.erb' , locals: { f: f }%>
    <%= f.submit "更新する", class: "customer-input-btn" %>
</div>
<% end %>