<%= render "shared/header2" %>
<%=form_with model: @customer, url: customer_path , local: true do |f| %>
<div class="customer-form">
  <h1>顧客情報編集</h1>
  <h4 class="sign-up-ja">※<span class="required-input">必須</span>項目を入力し<span class="claim">保存する</span>をクリックして下さい</h4><br>
      <div>
        <%= render 'shared/error_messages', model: f.object %>
      </div>
      <%# 写真保存 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "写真  "%><span class="optical-input">任意</span>
        </div>
        <div>
        <%= f.file_field :image %>
        </div>
      </div>
      <%# 氏名入力 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "氏名  " %><span class="required-input">必須</span>
        </div>
        <div>
        <%= f.text_field :first_name ,placeholder: "姓(全角のみ)", class: "name-form" %>
        <%= f.text_field :family_name ,placeholder: "名(全角のみ)", class: "name-form" %>
        </div>
      </div>
      <%# フリガナ入力 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "氏名(フリガナ)  " %><span class="required-input">必須</span>
        </div>
        <div>
        <%= f.text_field :first_name_k ,placeholder: "姓(全角カタカナ)", class: "name-form" %>
        <%= f.text_field :family_name_k ,placeholder: "名(全角カタカナ)", class: "name-form" %>
        </div>
      </div>
      <%# 性別選択 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "性別  "%><span class="required-input">必須</span>
        </div>
        <div class="radio-btn">
        <label>
        <%= f.radio_button :gender, "1" %> 男性  
        </label>
        <label>
        <%= f.radio_button :gender, "2"%> 女性  
        </label>
        </div>
      </div>
      <%# 生年月日入力 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "生年月日  "%><span class="required-input">必須</span>
        </div>
        <div class='input-birth-wrap'>
        <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>
      </div>  
      <%# 郵便番号入力%>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "郵便番号  "%><span class="required-input">必須</span> 
        </div>
        <div>   
        <%= f.text_field :postal_code ,placeholder: "123-4567", class: "postcode-form" %>
        </div>
      </div>
      <%# 都道府県入力 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "都道府県  "%><span class="required-input">必須</span>
        </div>
        <div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, class: "prefecture-form" ) %>
        </div>
      </div>  
      <%# 市町村区入力 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "市区町村  "%><span class="required-input">必須</span>
        </div>
        <div>
        <%= f.text_field :city ,placeholder: "○○○市", class: "city-form" %><br>
        </div>
      </div>
      <%# 住所を入力 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "住所  "%><span class="required-input">必須</span>
        </div>
        <div>
        <%= f.text_field :address ,placeholder: "○○町123-4", class: "address-form" %>
        </div>
      </div>
      <%# 建物名を入力 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "建物名  "%><span class="optical-input">任意</span>
        </div>
        <div>
        <%= f.text_field :building ,placeholder: "○○ビル123", class: "build-form" %>
        </div>
      </div>
      <%# 電話番号を入力 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "電話番号  "%><span class="required-input">必須</span><br>
        </div>
        <div>
        <%= f.text_field :tel ,placeholder: "09012345678", class: "tel-form" %>
        </div>
      </div>
      <%# 職業を入力 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "職業  "%><span class="required-input">必須</span>
        </div>
        <div>
        <%= f.collection_select(:job_id, Job.all, :id, :name, {}, class: "job-form" ) %>
        </div>
      </div>
      <%# コースを入力 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "コース  "%><span class="required-input">必須</span><br>
        </div>
        <div>
        <%= f.collection_select(:course_id, Course.all, :id, :name, {}, class: "course-form" ) %>
        </div>
      </div>
      <%# 身長を入力 %>
      <div class="customer-formbox">
        <div class="form-title">
        <%= f.label "身長  "%><span class="required-input">必須</span><br>
        </div>
        <div>
        <%= f.number_field :height, step: "0.1" , class: "height-form" %><b> cm<span class="height-few" >  ※少数第一位まで入力できます</span></b>
        </div>
      </div>
    <%= f.submit "保存する", class: "customer-input-btn" %>
</div>
<% end %>