<%= render "shared/header" %>
<body>
<h1>顧客登録一覧</h1>
<h4>※新規登録は右上の<span class="customer-input-text">顧客登録</span>をクリックしてください。</h4><br>
<div class="top-border"></div>
<% @customers.each do |customer|%>
<div class="customer-info-box">
  <div class="customer-image">
    <%# 画像がない場合はNO IMAGEを表示 %>
    <%= link_to customer_path(customer.id) , class: "customer-show"  do %>
    <% if customer.image.attached? %>
    <%= image_tag customer.image, size: '100x100' , class: "profile-image" %>
    <% else %>
    <%= image_tag 'no_image.png', size: '100x100' , class: "profile-image" %>
    <% end %>
  </div>
  <div class="customer-info">
    <div class="customer-id-course">
       <div class="id-number">id:</div>
      <div class="customer-id">
        <%= customer.id %>
      </div>
      <div class="customer-course">
        選択コース : <%= customer.course.name%>
      </div>
    </div>
    <div class="customer-name-count"> 
      <div class="customer-name">
        <span class="name"><%= customer.first_name %> <%= customer.family_name %></span> 
      </div>
      <div class="training-count">
        <%# 選択コースによって残りの回数を表示 %>
        <% if customer.course_id == 2 %>
        <% count = 16 %>
        <% elsif customer.course_id == 3 %>
        <% count = 24 %>
        <% elsif customer.course_id == 4 %>
        <% count = 32 %>
        <% elsif customer.course_id == 5 %>
        <% count = 48 %>
        <% elsif customer.course_id == 6 %>
        <% count = 64 %>
        <% elsif customer.course_id == 7 %>
        <% count = 96 %>
        <% end %>
        <%# 選択コースがその他の場合は非表示 %>
        <% unless  customer.course_id == 8 %>
        <% end %>
        <% @result = 0 %>
        <% @trainings = Training.where(customer_id: customer.id) %>
        <% @trainings.each do |traiining| %>
        <% @result = @result + 1 %>
        <% end %>
        <% @result %>
        残り回数<%= count - @result %>回
      </div>
    </div>  
  </div>
  <% end %>
  <div class="recording">
    <%= link_to customer_trainings_path(customer.id) do %>
      <button class="record-btn">記録する</button>
    <% end %>
  </div>

</div>
<% end %>  
</body>