<%= render "shared/header2" %>
<h1>マイページ</h1>
<div class="customer-show-box" >
  <div class="profile">
    <div class="profile-image-box">
      <% if @customer.image.attached? %>
      <%= image_tag @customer.image, size: '200x200' , class: "image" %>
      <% else %>
      <%= image_tag 'no_image.png', size: '200x200' , class: "image" %>
      <% end %>
    </div>
    <div class="profile-info">
      <h4 class="profile-title">プロフィール</h4>
      <div class="profile-item">
      <div class="profile-item-title">氏名:</div>
      <div class="item-text"><%= @customer.first_name %><%= @customer.family_name %></div>
      </div>
      <div class="profile-item">
      <div class ="profile-item-title">フリガナ:</div>
      <div class="item-text"><%= @customer.first_name_k %><%= @customer.family_name_k %></div>
      </div>
      <div class="profile-item">
      <%# 性別1なら男性、2なら女性を表示 %>
      <div class ="profile-item-title">性別:</div>
      <div class= "item-text">
        <% if @customer.gender == 1%>男性
        <% else %>女性
        <% end %>
      </div>
      </div>
      <div class="profile-item">
      <div class="profile-item-title">生年月日:</div>
      <div class="item-text"><%= @customer.birthday.strftime("%Y年%-m月%-d日") %></div>
      </div>
      <div class="profile-item">
      <div class="profile-item-title">年齢:</div>
      <%# 生年月日から年齢を計算表示 %>
      <div class="item-text">
      <% birth = @customer.birthday.strftime("%Y%m%d").to_i %>
      <% today = Date.today.strftime("%Y%m%d").to_i %>
      <% age = (today - birth ) / 10000 %>
      <%= age %>歳
      </div>
      </div>
      <div class="profile-item">
      <div class="profile-item-title">郵便番号:</div>
      <div class="item-text">〒<%= @customer.postal_code %></div>
      </div>
      <div class="profile-item">
      <div class="profile-item-title">都道府県:</div>
      <div class="item-text"><%= @customer.prefecture.name %></div>
      </div>
      <div class="profile-item">
      <div class="profile-item-title">市区町村:</div>
      <div class="item-text"><%= @customer.city %></div>
      </div>
      <div class="profile-item">
      <div class="profile-item-title">住所:</div>
      <div class="item-text"><%= @customer.address %></div>
      </div>
      <% if @customer.building?%>
      <div class="profile-item">
      <div class="profile-item-title">建物:</div>
      <div class="item-text"><%= @customer.building %></div>
      </div> 
      <% end %>
      <div class="profile-item">
      <div class="profile-item-title">電話番号:</div>
      <div class="item-text"><%= @customer.tel %></div>
      </div>
      <div class="profile-item">
      <div class="profile-item-title">職業:</div>
      <div class="item-text"><%= @customer.job.name %></div>
      </div>
      <div class="profile-item">
      <div class="profile-item-title">コース:</div>
      <div class="item-text"><%= @customer.course.name %></div>
      </div>
      <div class="profile-item">
      <div class="profile-item-title">身長:</div>
      <div class="item-text"><%= @customer.height %>cm</div>
      </div>
      <%= link_to edit_customer_path(@customer.id) do %>
      <button class="edit-btn">編集する</button>
      <% end %>
      <%= link_to customer_path(@customer.id) , method: :delete , data: {confirm: "削除すると元に戻せません\n\n削除しても本当に宜しいですか？"} do %>
      <button class="delete-btn">削除する</button>
      <% end %>
    </div>
  </div>
  <div class="result">
    <div class="result-title">
      <h2>トレーニング実績</h2>
    </div>
    <div class="training-data-column">
      <div class="count-column">
      </div>
      <div class="data-column">
        トレーニング日
      </div>
      <div class="weight-column">
        体重
      </div>
      <div class="fat-column">
        体脂肪
      </div>
      <div class="blood-column">
        最高血圧
      </div>
      <div class="blood-column">
        最低血圧
      </div>
      <div class="pulse-column">
        脈拍
      </div>
      <div class="course-column">
        実施メニュー
      </div>
    </div>
    <% count = 0 %>
    <% @trainings.each do |training| %>
    <div class="training-data">
      <div class ="count-column">
        <% count = count + 1 %>
        <%= count %>
      </div>
      <div class="date-data">
        <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
        <%= training.created_at.strftime("%Y/%m/%d(#{wd[training.created_at.wday]})") %>
      </div>
      <div class="weight-data">
        <%= training.weight%><span class="result-unit">kg</span>
      </div>
      <div class="fat-data">
        <%= training.body_fat %><span class="result-unit">%</span>
      </div>
      <div class="blood-data">
        <%= training.blood_pressure_max %><span class="result-unit">mmHg</span>
      </div>
      <div class="blood-data">
        <%= training.blood_pressure_min %><span class="result-unit">mmHg</span>
      </div>
      <div class="pulse-data">
        <%= training.pulse %><span class="result-unit">bpm</span>
      </div>
      <div class="course-data">
        <% if training.part.include?("胸") %>
          <span class="part-font"><%= "胸" %></span>
        <% end %>
        <% if training.part.include?("背中") %>
          <span class="part-font"><%= "背中" %></span>
        <% end %>
        <% if training.part.include?("肩") %>
          <span class="part-font"><%= "肩" %></span>
        <% end %>
        <% if training.part.include?("腕") %>
          <span class="part-font"><%= "腕" %></span>
        <% end %>
        <% if training.part.include?("腹") %>
          <span class="part-font"><%= "腹" %></span>
        <% end %>
        <% if training.part.include?("脚") %>
          <span class="part-font"><%= "脚" %></span>
        <% end %>
        <% if training.part.include?("その他") %>
          <span class="part-font"><%= "その他" %></span>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>