<header>
        <div class="header_bar">
          <%= link_to "Customer Training Record", root_path , class: "header-title" %>
        <div>
        </div>
</header>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h1>Log in</h1>
  <h4 class="sign-up-ja">登録したメールアドレス、パスワードを入力して<span class="claim">Log in</span>をクリックして下さい</h4>
  <%# ログインエラー表示 %>
  <div class='login-flash-message'>
  <%= flash[:notice] %>
  <%= flash[:alert] %>
</div>
  <div class="field">
    <% f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "input-default" %>
  </div>

  <div class="field">
    <% f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード",class: "input-default" %>
  </div>

  <%# <% if devise_mapping.rememberable? %>
    <%# <div class="field">
      <%= f.check_box :remember_me %>
      <%# <%= f.label :remember_me %> 
    <%# </div>
  <% end %> 

  <div class="actions">
    <%= f.submit "Log in", class: "log-in-btn" %>
  </div>
<% end %>
